name: Update Blog Feed

on:
  push:
    branches:
      - main
    paths:
      - "feed.yaml"
      - "feed.yml"
      - "posts/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the repository
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Run Feed Generator
        uses: AnjaliiThakur/continuous-publishing-engine-generator@main
        with:
          email: ${{ github.actor }}@localhost
          name: ${{ github.actor }}
